<div class="center hero-unit">
  <h1>Welcome to my first App</h1>

  <h2>
    Все честно сам делал, по примеру:
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>     
  </h2>
<h3>Зарегистрируйся, пожалуйста ;) </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("ni.png", alt: "#"), '#' %>